@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Squada+One&display=swap');
body{
   margin:0;
   padding:0;
   background-color:#e6e7ee;
   background-color:#000000;
}
.topnav{
    height:40px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #252730;
}
.topnav a{
    text-decoration:none;
    color:#9d86e9;
    font-size:25px;
    margin-left:40px;
    font-family: 'Cabin', sans-serif;
    font-weight:900;
}
.make
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.make button{
    height:50px;
    width:200px;
    background-color:#F4D03F;
    box-shadow: 0 0 14px 0 #F4D03F;
    color:#000000;
    border: 2px solid #F4D03F;
    font-size:15px;
    font-weight:700;
    font-family: 'Cabin', sans-serif; 
    border-radius:5px;
    cursor: pointer;
}
b{
    color:#B9345A;
    color:#9d86e9;
}
.start
{
    padding-left:70px;
    padding-top:70px;
}
.start h2{
    font-size:60px;
}
.start img{
  border: 2px solid none;
  border-radius:120px;
  width:200px;
  height:200px;
}

.start h1{
    font-family: 'Cabin', sans-serif;
    font-size:60px;
    background: -webkit-linear-gradient(rgb(157,134,233),rgb(97,218,251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.start p{
    margin:20px;
    font-size:18px;
    font-family: 'Inter', sans-serif;
   line-height:1.6;
   color:#2c3e50;
   color:#fff;
}
#works
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.card{
    height:200px;
    width:370px;
    background-color:#000000;
    border:2px solid #5B34DA;
    margin:20px;
    border-radius:7px;
}
.card h3{
    text-align: center;
    color:#9d86e9;
    font-family: 'Cabin', sans-serif;
}
.card p{
    text-align:center;
    color:#e6e7ee;
    font-family: 'Inter', sans-serif;
    font-size:15px;
    margin:5px;
}

.fas
{
    font-size:25px;
    padding-top:25px;
    margin-left:20px;
    color:#B9345A;
}
#workheading
{
    margin-top:50px;
}
#workheading h1{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color:#fff;
}

#connect
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons
{
    height:60px;
    width:60px;
    background-color:#9d86e9;
    box-shadow: 0 0 12px 0 #9d86e9;
    margin:20px;
    border-radius:50%;
}
.fab
{
    font-size:35px;
    margin-left:14px;
    margin-top:12px;
    color:#000000;
}
#connectheading
{
    margin-top:50px;
}
#connectheading h1
{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color:#fff;
}
footer
{
  height:60px;
  text-align: center;
  margin-top:300px;
}
footer h2{
    font-family: 'Cabin', sans-serif;
    color:#5B34DA;
}
.fa-github-alt{
    color:#9d86e9;
    padding-left:140px;
    cursor:pointer;
    font-size:40px;
}
@media only screen and (max-width:600px)
{

    .start h1{
        font-size:50px;
    }
    .topnav a
    {
     font-size:20px;
     margin-left:20px;
    }
    .start
    {
    padding-left:25px;
    }
    .start img
    {
        width:120px;
        height:120px;
    }
}