@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Squada+One&display=swap');
body{
   margin:0;
   padding:0;
   background-color:#e6e7ee;
   background-color:#000000;
}
a{

    color:#9d86e9;
}
.topnav{
    height:40px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #252730;
}
.topnav a{
    text-decoration:none;
    color:#9d86e9;
    font-size:25px;
    margin-left:40px;
    font-family: 'Cabin', sans-serif;
    font-weight:900;
}
b{
    color:#B9345A;
    color:#9d86e9;
}
.start
{
   padding-left:70px;
   margin-top:70px;
}

.start img{
  border:none;
  border-radius:50%;
  width:200px;
  height:200px;
}

.start h1{
    font-family: 'Cabin', sans-serif;
    font-size:60px;
    background: -webkit-linear-gradient(rgb(157,134,233),rgb(97,218,251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.start p{
    margin:20px;
    font-size:18px;
    font-family: 'Inter', sans-serif;
    line-height:1.6;
    color:#2c3e50;
    color:#fff;
}
.skills h3{
    text-align:center;
    color:#F4D03F;
    font-family: 'Cabin', sans-serif; 
    font-size:28px;
}
.allskills{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.allskills .skill{
    width:130px;
    height:130px;
    border:none;
    border-radius:6px;
    background-color:#252730;
    text-align:center;
    margin:10px;
}
.allskills .skill h5{
    font-size:15px;
    color:#fff;
    font-family: 'Cabin', sans-serif;
}

.allskills .fab{
    color:#9d86e9;
    font-size:35px;
    margin:15px;
}
.allskills .fas{
    color:#9d86e9;
    font-size:35px;
    margin:15px;
}

#works
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.card{
    min-height:200px;
    width:370px;
    background-color:#000000;
    border:1.5px solid #5B34DA;
    margin:20px;
    border-radius:7px;
    box-shadow: 3px 5px #5B34DA;
}
.card h3{
    text-align: center;
    color:#9d86e9;
    font-family: 'Cabin', sans-serif;
}
.card p{
    text-align:center;
    color:#e6e7ee;
    font-family: 'Inter', sans-serif;
    font-size:15px;
    margin:5px;
}
.card .fa-github{
   font-size:25px;
   color:#B9345A;
   cursor: pointer;
}
.card .fas
{
    font-size:25px;
    padding-top:25px;
    margin-left:20px;
    color:#B9345A;
    cursor: pointer;
}
#workheading
{
    margin-top:50px;
}
#workheading h1{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color:#fff;
}

#connect
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons
{
    height:60px;
    width:60px;
    background-color:#9d86e9;
    box-shadow: 0 0 12px 0 #9d86e9;
    margin:20px;
    border-radius:50%;
}
.icons i
{
    font-size:35px;
    margin-left:14px;
    margin-top:12px;
    color:#000000;
}
#connectheading
{
    margin-top:50px;
}
#connectheading h1
{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color:#fff;
}
footer
{
  height:60px;
  text-align: center;
  margin-top:300px;
}
footer p{
    font-family: 'Cabin', sans-serif;
    color:#5B34DA;
    font-size:19px;
}
.fa-github-alt{
    color:#9d86e9;
    padding-left:140px;
    cursor:pointer;
    font-size:40px;
}
@media only screen and (max-width:600px)
{

    .start h1{
        font-size:50px;
    }
    .topnav a
    {
     font-size:20px;
     margin-left:20px;
    }
    .start
    {
    padding-left:25px;
    }
    .start img
    {
        width:120px;
        height:120px;
    }
}